n8n/n8n_telegram_bot.json
{
  "name": "n8n_telegram_bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -64
      ],
      "id": "103f5905-98e4-49b4-92b8-0554fe52b6d9",
      "name": "Telegram Trigger",
      "webhookId": "ef85cccb-1965-4556-9b87-2acaf2a83d6b",
      "credentials": {
        "telegramApi": {
          "id": "4zn4zw3q1cV106xE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        48
      ],
      "id": "c6580744-c68f-40b1-a7d6-5124b8a16b78",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "vz4QFDHLJq7sTrQo",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_TELEGRAM_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -48
      ],
      "id": "a62827b3-8dcf-4e17-8da1-ef4648971a13",
      "name": "Send a text message",
      "webhookId": "d432b29e-71b0-4281-9771-dd92f10b95b4",
      "credentials": {
        "telegramApi": {
          "id": "4zn4zw3q1cV106xE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Direct Input Access\nconst text = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\n\n// 2. Parse: \"/monitor add 12345\" -> [\"monitor\", \"add\", \"12345\"]\nconst parts = text.split(/\\s+/);\n// Remove slash and make lowercase (e.g., \"/Monitor\" -> \"monitor\")\nconst command = parts[0].replace('/', '').toLowerCase(); \nconst action = parts[1] ? parts[1].toLowerCase() : \"\";\n\n// Helper: Escape single quotes to prevent SQL errors\nconst clean = (str) => str.replace(/'/g, \"''\");\n\nlet query = \"SELECT 1 WHERE false;\"; \nlet type = \"error\"; \n\n// --- COMMAND 1: MONITOR (Manage Users) ---\nif (command === 'monitor') {\n    const targetId = parts[2]; \n    const name = parts.slice(3).join(' ') || \"User\";\n\n    if (action === 'add' && targetId) {\n        query = `INSERT INTO monitored_users (user_id, username) VALUES (${parseInt(targetId)}, '${clean(name)}') ON CONFLICT (user_id) DO NOTHING;`;\n        type = \"insert\";\n    } \n    else if (action === 'del' && targetId) {\n        query = `DELETE FROM monitored_users WHERE user_id = ${parseInt(targetId)};`;\n        type = \"delete\";\n    } \n    else if (action === 'sh' || action === 'ls') {\n        query = \"SELECT * FROM monitored_users;\";\n        type = \"select\";\n    }\n}\n\n// --- COMMAND 2: PREF (Manage Topics) ---\nif (command === 'pref') {\n    const topics = parts.slice(2).join(' '); \n\n    if (action === 'set' && topics) {\n        query = `INSERT INTO user_preferences (admin_id, topics) VALUES (${chatId}, '${clean(topics)}') ON CONFLICT (admin_id) DO UPDATE SET topics = '${clean(topics)}';`;\n        type = \"insert\";\n    } \n    else if (action === 'del') {\n        query = `DELETE FROM user_preferences WHERE admin_id = ${chatId};`;\n        type = \"delete\";\n    } \n    else if (action === 'sh' || action === 'ls') {\n        query = `SELECT topics FROM user_preferences WHERE admin_id = ${chatId};`;\n        type = \"select\";\n    }\n}\n\nreturn { json: { query, type } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "d69ddaf0-2d56-46a6-bbee-e95ef13f2ad3",
      "name": "cmd to query"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        -64
      ],
      "id": "2ef04d0e-c0e7-4da5-9507-43e708db0f8c",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "de84ef79-5807-41e8-9a70-e1c09877e37d",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f45ae455-89e8-4003-8174-46ac0a1f69ad",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ $env.ADMIN_TELEGRAM_ID }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa5d301-6076-4b3c-80e0-082145d6fe83",
              "leftValue": "={{ $json.message.text }}\n",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -64
      ],
      "id": "13871ce3-0919-4c4f-ad43-4f20436f0c9e",
      "name": "check admin cmd"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get ALL inputs from both incoming wires\nconst allItems = $input.all();\n\n// 2. Separate the \"Command Context\" (type) from \"Database Items\"\nconst commandContext = allItems.find(item => item.json.type && (item.json.query !== undefined));\n// Everything else is assumed to be from Postgres (either data rows OR an error item)\nconst dbItems = allItems.filter(item => item !== commandContext);\n\n// Fallback: If no context found\nconst type = commandContext ? commandContext.json.type : \"error\";\n\n// --- STEP 3: CHECK FOR DB ERRORS FIRST ---\n// We check if any item from the DB looks like an error message.\n// (Postgres errors usually have a 'message' field but no 'user_id' or 'topics')\nconst errorItem = dbItems.find(item => item.json.message || item.json.error);\n\nlet msg = \"\";\n\n// --- LOGIC ---\n\n// PRIORITY 1: Did the Database crash?\nif (errorItem) {\n    const errText = errorItem.json.message || \"Unknown Database Error\";\n    msg = `❌ Database Error:\\n${errText}`;\n}\n\n// PRIORITY 2: Did the User send a bad command? (Logic from Node 1)\nelse if (type === 'error') {\n    msg = \"❌ Error: Invalid command. Please check your syntax.\";\n} \n\n// PRIORITY 3: Handle Valid Commands (Insert/Delete)\nelse if (type === 'insert') {\n    msg = \"✅ Command executed: Data saved successfully.\";\n} \nelse if (type === 'delete') {\n    msg = \"🗑️ Command executed: Item removed.\";\n} \n\n// PRIORITY 4: Handle Data Retrieval (Select)\nelse if (type === 'select') {\n    // Check if we have actual DB rows (empty list check)\n    if (dbItems.length === 0 || (dbItems.length === 1 && Object.keys(dbItems[0].json).length === 0)) {\n        msg = \"📭 The list is empty.\";\n    } else {\n        const firstRow = dbItems[0].json;\n        \n        // Is it a User List? (Checks for 'user_id')\n        if (firstRow.hasOwnProperty('user_id')) {\n            msg = \"📋 Monitored Users:\\n\\n\";\n            dbItems.forEach(item => {\n                // Ensure we print valid user rows\n                if (item.json.username) { \n                    msg += `• ${item.json.username} (${item.json.user_id})\\n`;\n                }\n            });\n        } \n        // Is it Preferences? (Checks for 'topics')\n        else if (firstRow.hasOwnProperty('topics')) {\n            msg = \"⚙️ Current Preferences:\\n\\n\" + firstRow.topics;\n        } \n        else {\n            msg = \"✅ Data retrieved successfully.\";\n        }\n    }\n}\n\nreturn [ { json: { text: msg } } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -48
      ],
      "id": "87ed36c4-3a36-4fd8-b4ea-aa5623571c6d",
      "name": "generate response "
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM monitored_users\n  WHERE user_id = {{ $json.message.from.id }}\n) as in_db",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        272
      ],
      "id": "76a68f28-3fe1-41e6-8833-7f42b6817bbf",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "vz4QFDHLJq7sTrQo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bcc60150-2a61-4fe0-b96d-56141c3905d2",
              "leftValue": "={{ $json.message.text ? $json.message.text.length : 0 }}",
              "rightValue": 12,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0f96bc48-32d5-439d-a229-35da26ccd73e",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        224
      ],
      "id": "5461fd15-5cf2-4456-a4b4-264dd72ac967",
      "name": "pre-filtering"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        224
      ],
      "id": "a3378251-8bd6-4282-8543-b554f4ae4348",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "02b674ff-9d25-413a-b09e-d0a93dc0efb7",
              "leftValue": "={{ $json.in_db }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        240
      ],
      "id": "d82565ec-ee4f-4530-aa3e-7a85dfcf83f4",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $env.ADMIN_TELEGRAM_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        224
      ],
      "id": "503fe395-55f8-4323-a3f5-68b3d631249c",
      "name": "Send a text message1",
      "webhookId": "d432b29e-71b0-4281-9771-dd92f10b95b4",
      "credentials": {
        "telegramApi": {
          "id": "4zn4zw3q1cV106xE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### DATA CONTEXT\nUser Preferences: {{ $('Merge1').item.json.topics }}\n\n### INCOMING MESSAGE\nMessage: {{ $('Merge1').item.json.message.text }}\n\n### YOUR TASK\nAnalyze the message above. Does it relate to the user preferences?",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict notification filter bot. Your goal is to compare an incoming message against a list of User Preferences.  \n### RULES: \n1. If the message matches ANY of the User Preferences, output a concise summary. \n2. If the message is unrelated to the preferences, output EXACTLY: NO MATCH FOUND \n3. If the User Preferences are empty or null, output EXACTLY: NO MATCH FOUND  \n### ANTI-HALLUCINATION: \n- Do NOT output your internal thinking (<think> tags). \n- Do NOT output \"Here is the summary\". Just give the summary or the error code."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        960,
        224
      ],
      "id": "93f30592-dd42-482a-ac0b-2a29385e1bc2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        960,
        384
      ],
      "id": "65af6463-5366-4a7b-a4e8-4fc315c23c8f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "iVNo8Icui6ydCW7t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT topics \nFROM user_preferences \n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        416
      ],
      "id": "12c73849-25ce-4819-b770-9f4787dae462",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "vz4QFDHLJq7sTrQo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 368,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        208
      ],
      "typeVersion": 1,
      "id": "2e0f41b0-1dbb-4aea-99b4-84f4b4cb8359",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 368,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        208
      ],
      "typeVersion": 1,
      "id": "e2a7e58d-e848-407a-9075-0ebc2bbe1ebf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -96
      ],
      "typeVersion": 1,
      "id": "618e30a7-d15e-4717-a5d1-26d10c6a030b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -96
      ],
      "typeVersion": 1,
      "id": "75fd4b82-2758-4cc7-8dcd-5701fbb3c76e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "height": 672,
        "width": 1632,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -96
      ],
      "typeVersion": 1,
      "id": "626c020f-1826-4f1f-9d59-ae33a5eb8116",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "check admin cmd",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "cmd to query": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "generate response ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check admin cmd": {
      "main": [
        [
          {
            "node": "cmd to query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pre-filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate response ": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "pre-filtering": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bbfb00f5-7078-4c18-93f6-e07090a35982",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "341150bf2175b5a933d8bca1bb3e567427c87dff5d039f4a87f55649027f7b56"
  },
  "id": "rKEc39YcukANVwhOS9m-A",
  "tags": []
}